Adafruit-Blinka==8.69.0
Adafruit-Blinka-Raspberry-Pi5-Neopixel==1.0.0rc2
adafruit-circuitpython-bme280==2.6.30
adafruit-circuitpython-busdevice==5.2.15
adafruit-circuitpython-connectionmanager==3.1.6
adafruit-circuitpython-requests==4.1.15
adafruit-circuitpython-tca9548a==0.8.4
adafruit-circuitpython-typing==1.12.3
Adafruit-PlatformDetect==3.87.0
Adafruit-PureIO==1.1.11
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
binho-host-adapter==0.1.6
click==8.3.1
fastapi==0.128.1
h11==0.16.0
httptools==0.7.1
idna==3.11
pydantic==2.12.5
pydantic_core==2.41.5
pyftdi==0.57.1
pyserial==3.5
python-dotenv==1.2.1
pyusb==1.3.1
PyYAML==6.0.3
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
starlette==0.50.0
sysv_ipc==1.2.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.40.0
uvloop==0.22.1
watchfiles==1.1.1
websockets==16.0
